  /* Estilo general para los divs */
  div {
    width: 200px;
    height: 100px;
    padding: 10px;
    text-align: center;
    color: white;
    border: 2px solid black;
}

/* Div centrado horizontalmente */
.centered {
    width: 50%;
    /* Centrado horizontalmente */
    margin: 0 auto;
    background-color: green;
}

/* Div alineado a la derecha */
.right {
    width: 200px;
    /* Alinear a la derecha */
    margin-left: auto;
    margin-right: 0;
    background-color: coral;
}

/* Div en una posición específica usando píxeles */
.specific-px {
    width: 300px;
    /* Separado 100px desde la izquierda */
    margin-left: 100px;
    /* Separado 150px desde la parte superior */
    margin-top: 150px;
    background-color: pink;
}

/* Div en una posición específica usando porcentaje */
.specific-percent {
    width: 30%;
    /* 20% desde la izquierda */
    margin-left: 20%;
    /* 30% desde la parte superior */
    margin-top: 30%;
    background-color: blue;
}

.box{
    width: 50px;
    height: 100px;
    padding: 100px 50px 10px 5px;
    border: 2px 50px solid black;
    margin: 100px 20px 50px 300px;
    background-color: lightblue;
}

div p{
    color: orange;
}

ul>li{
    color:purple;
}